@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Staatliches&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {

  /*  background-image: url('https://rhynep.github.io/id/images/bg_light.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */

    color:white;
    background-color:black;
    font-size:1.3em;
    font-family:'Special Elite', Arial, Helvetica, sans-serif;
    margin-left:7px;
    margin-right:7px;
  
     }

/* *********** *//* MEDIA QUERY *//* *********** */
/* use media query to ask how big the viewport is */
@media (max-width: 350px) { /* these rules take effect when the viewport is small */
    body{
    margin-left: 0px;
    margin-right: 0px;
   
    }
}
@media (min-width: 350px) { /* larger viewport rules*/
    body {
    margin-right:5px;
    margin-left:5px; 
    }


@media screen and (orientation: portrait) { /* portrait/landscape rules */
        body {
            font-weight: bold;
            color:magenta;
        }
        div.nav {
            display:flex;
            flex-direction: column;
            position:fixed;
            margin-top:11%;
            margin-bottom:1px;
            height:111px;
            margin-left:3%;
            font-size:1.2em;
            font-family:'Special Elite', 'Saira', Arial, Helvetica, sans-serif;
            color:#e9d62a;
            text-align: left;
            justify-content: space-between;
            line-height:0.7em;    
        }
        
    }      


/* *********** *//* LINKS *//* *********** */
a:link{
    color:grey;
    text-decoration: none;
}

a:visited{
    color:grey;
    text-decoration: none;
}

a:hover{
    color:#de5004;
    text-decoration: line-through;
}

a:active{
    color:#e9d62a;
    text-decoration: none;
}



/* *********** *//* HEADINGS *//* *********** */
h1 {
    color:white;
    font-family:'Special Elite', 'Arial Narrow Bold', sans-serif;
    font-size:1em;
    text-align: right;
    margin-right:3%;
    margin-left:33%;
    margin-bottom:0.5em; 
}

h2 {
    color:white;
    font-family:'PT Sans Narrow', 'Arial Narrow Bold', sans-serif;
    font-size:1.3em;
    margin-bottom:0.5em;
    margin-left:33%;
}

h3 {
    color:white;
    font-family:'Special Elite', sans-serif, Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:strong;
    margin-bottom:0.5em;
}

h4 {
    color:white;
    font-family:'Saira', sans-serif, Arial, Helvetica, sans-serif;
    margin-bottom:0.5em;
}

h5 {
    color:white;
    font-family:'Saira', sans-serif, Arial;
    font-size:large;   
    margin-bottom:0.5em;
}


/* *********** *//* NAV BAR *//* *********** */        
div.nav {
    display:flex;
    flex-direction: column;
    position:fixed;
    padding-top:111px;
    margin-bottom:1px;
    top:22px;
    margin-left:3%;
    font-size:1.2em;
    font-family:'Special Elite', 'Saira', Arial, Helvetica, sans-serif;
    color:#e9d62a;
    text-align: left;
    justify-content: space-between;
    line-height:0.7em;    
}


/* nav labels */
a#about {
    color: #de5004;
    text-decoration: line-through;
}
a#videos {
    color: #de5004;
    text-decoration: line-through;
}
a#music {
    color: #de5004;
    text-decoration: line-through;
}
a#photos {
    color: #de5004;
    text-decoration: line-through;
}
a#connect {
    color: #de5004;
    text-decoration: line-through;
}
a#events {
    color: #de5004;
    text-decoration: line-through;
}
a#store {
    color: #de5004;
    text-decoration: line-through;
}


/* *********** *//* MAIN LAYOUT IMAGES *//* *********** */

/* object identifiers */

        /* band name */
img#logoname {
    position:fixed;
    left:11px;
    top:11px;
    opacity: 92%;
    width:211px;
   }
        /* band symbol */
   img#idsymbol {
    position:fixed;
    align-content:center;
    right:3%;
    top:11px;
    width:211px;
   }

        /* band logo */
    img#logosymbol {
    position:fixed;
    right:211px;
    top:11px;
} 

        /* footer */
#footer {
    display:flex;
    flex-direction: row;
    float:right;
    position:fixed;
    right:3%;
    bottom: 3px;
    text-align: center;
    align-content: center;   
    opacity: 33%;
} 
/* *********** *//* IMAGES BY PAGE *//* *********** */
/* main */
/* music */ 
/* videos */    

/* about */
img#aboutbandimage {
    position: fixed;
    align-content: center;
    top:1px;
    right:22%;
    left:33%;
    width:40%;  
}


/* photos */
/* connect */
/* events */
/* store */


/* etc images */
img#yellowbackground {
    float:right;
    top:55px;
    right:100px;
    transform: rotate(11deg) scale(0.9);
}



/* *********** *//* DIV: OTHER FLEXBOX BY PAGE *//* *********** */

/* main */
div.maintext {
    display:flex;
    flex-direction:row;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: center;
}


/* music */
div.musictext {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    margin-bottom:0.5px;
}

div.music {
    display:flex;
    flex-direction:row;
    margin-left:33%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
}

/* videos */
div.videostext {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    margin-bottom:0.5px;
}
        /*********** list of videos ***********/
div.endlessvideo {
    display:flex;
    align-content: center;
    margin-left:22%;
    margin-bottom:0.5px;
}

div.carelessvideo {
    display:flex;
    align-content: center;
    margin-left:22%;
    margin-bottom:0.5px;
}

/* about */
div.bandbio {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    margin-bottom:0.5px;
}

div.aboutimage {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    margin-bottom:0.5px;
}

/* photos */
div.photostext {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    margin-bottom:0.5px;
}

/* connect */
div.connecttext {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    margin-bottom:0.5px;
}

/* events */
div.eventstext {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    margin-bottom:0.5px;
}

/* store */
div.storetext {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    margin-bottom:0.5px;
}


/* *********** *//* JAVASCRIPT CONNECTIONS *//* *********** */

/* photos */
        /*********** square photos with js ***********/
div.squarediv {
display:none; 
width:fit-content;
align-content: center;
}

img#square {
    display:flex;
    flex-direction: row;
    width:311px;
    padding-top:111px;
    padding-left:155px;
    margin-top:1px;
    margin-bottom:22px;
}
div.squarediv1 {
    display:none; 
    width:fit-content;
    align-content: center;
}

img#square1 {
    display:flex;
    flex-direction: row;
    width:311px;
    padding-top:111px;
    padding-left:155px;
    margin-top:1px;
    margin-bottom:22px;
}
div.squarediv2 {
    display:none; 
    width:fit-content;
    align-content: center;
}

img#square2 {

    width:311px;
    align-content: right;
    padding-top:1px;
    padding-left:155px;
    margin-top:1px;
    margin-bottom:22px;
}

div.squarediv3 {
    display:none; 
    width:fit-content;
    align-content: center;
}

img#square3 {

    width:311px;
    align-content: right;
    padding-top:1px;
    padding-left:155px;
    margin-top:1px;
    margin-bottom:22px;
}

div.squarediv4 {
    display:none; 
    width:fit-content;
    align-content: center;
}

img#square4 {

    width:311px;
    align-content: right;
    padding-top:1px;
    padding-left:155px;
    margin-top:1px;
    margin-bottom:1px;
}

div.squarediv5 {
    display:none; 
    width:fit-content;
    align-content: center;
}

img#square5 {

    width:311px;
    align-content: right;
    padding-top:1px;
    padding-left:155px;
    margin-top:1px;
    margin-bottom:1px;
}

div.squarediv6 {
    display:none; 
    width:fit-content;
    align-content: center;
}

img#square6 {

    width:311px;
    align-content: right;
    padding-top:1px;
    padding-left:155px;
    margin-top:1px;
    margin-bottom:1px;
}

div.squarediv7 {
    display:none; 
    width:fit-content;
    align-content: center;
}

img#square7 {

    width:311px;
    align-content: right;
    padding-top:1px;
    padding-left:155px;
    margin-top:1px;
    margin-bottom:1px;
}

div.squarediv8 {
    display:none; 
    width:fit-content;
    align-content: center;
}

img#square8 {

    width:311px;
    align-content: right;
    padding-top:1px;
    padding-left:155px;
    margin-top:1px;
    margin-bottom:1px;
}


 /* *********** *//* SUBLIMINAL WITH JS */ /* *********** */
 
 /* about */
    /*********** symbol flashes ***********/
div.flashes1 {
    visibility:hidden;
    position:fixed;
    color:black;
    margin-left:5%;
    margin-top:77%;
    transition-property:visibility;
    transition-duration: 1s;
}

div.flashes2 {
    position:fixed;
    color:black;
    margin-left:7%;
    margin-top:22%
   
}


}
