@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Staatliches&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
   
        background: url('https://rhynep.github.io/id/images/symbol_fire.png') no-repeat center center fixed;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  


    color:black;
    background-color:rgb(187, 186, 186);
    font-size:1.3em;
    font-family:Arial, Helvetica, sans-serif;
    margin-left:77px;
    margin-right:77px;
    text-align: center;
     }



/* links */
a:link{
    color:black;
    text-decoration: none;
}

a:visited{
    color:black;
    text-decoration: none;
}

a:hover{
    color:#de5004;
    text-decoration: line-through;
}

a:active{
    color:#e9d62a;
    text-decoration: none;
}



/* headings */
h1 {
    color:black;
    font-family:'Gloria Hallelujah', 'Arial Narrow Bold', sans-serif;
    font-size:2em;

}

h2 {
    color:black;
    font-family: 'Gloria Hallelujah', sans-serif, Arial;
    font-size:1.7em;
}

h3 {
    color:black;
    font-family:'Gloria Hallelujah', sans-serif, Arial, Helvetica, sans-serif;
    font-size:1.3em;
    font-weight:strong;
}

h4 {
    color:black;
}

h5 {
    color:black;
    font-family:'Gloria Hallelujah', sans-serif, Arial;
    font-size:large;   
}


/* header and nav bar */
header {
    display: flex;
    height: 5em;
    justify-content: space-between;
    align-items: center;
    width:22%;
    /*border: 2px dotted #de5004;*/
    background-color:eggshell;
}

                div.navbar {
                    display:flex;
                    flex-direction:row;
                    align-items:flex-start;
                    border: px #de5004;
                    height:100px;
                    justify-content:space-between;
                    width:88%;
                    margin-top:5%;
                    margin-left:1%;
                    margin-right:5%;
                    margin-top:5%;
                    line-height:2em;
                      
                  }
                  
                  
                  div.nav {
                    background-color:eggshell;
                    padding-top:155px;
                    margin-bottom:10px;
                    font-size:1.3em;
                    font-family:'Saira', Arial, Helvetica, sans-serif;
                    color:darkgrey;
                    font-size:2em;
                    height:10%;
                    text-align: left;
                    
                  }




/* object identifiers */

/* band name */
img#logoname {
    position:fixed;
    left:11px;
    top:11px;
    opacity: 92%;
   }

/* band logo */
    img#logosymbol {
    position:fixed;
    right:11px;
    top:11px;
    opacity: 0.7;  
}

/* copyright */ /*
img#copyright {
    position:fixed;
    right:422px;
    bottom:0px;
    width:222px;
}*/

img#bandbg {
    opacity:50%;
}
/* footer */
#footer{
    display:flex;
    flex-direction: row;
    float:center;
    position:fixed;
    left:44%;
    bottom: 3px;
    text-align: center;
    align-content: center;   
    opacity: 33%;
} 

/* nav labels */
a#about {
    color: #de5004;
    text-decoration: line-through;
}
a#videos {
    color: #de5004;
    text-decoration: line-through;
}
a#music {
    color: #de5004;
    text-decoration: line-through;
}
a#photos {
    color: #de5004;
    text-decoration: line-through;
}
a#connect {
    color: #de5004;
    text-decoration: line-through;
}
a#events {
    color: #de5004;
    text-decoration: line-through;
}
a#store {
    color: #de5004;
    text-decoration: line-through;
}


/* other flexbox */
div.maintext {
    display:flex;
    flex-direction:row;
    margin-left:322px;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: center;
}

