@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Staatliches&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Orbitron:wght@600&display=swap');


body {
   
        background: url('https://rhynep.github.io/id/images/idbg.NG') no-repeat center center fixed;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  


    color:back;
    background-color:eggshell;
    font-size:1.3em;
    font-family:Arial, Helvetica, sans-serif;
    text-align:justify;
    margin-left:77px;
    margin-right:77px;

 }



/* links */
a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color:#de5004;
}

a:active{
    color:#de5004;
}



/* headings */
h1 {
    color:black;
    font-family:'Gloria Hallelujah', 'Arial Narrow Bold', sans-serif;
    font-size:2em;
    background-color:white;
    text-align:left;
}

h2 {
    color:black;
    font-family: 'Gloria Hallelujah', sans-serif, Arial;
    font-size:1.7em;
}

h3 {
    color:black;
    font-family:'Gloria Hallelujah', sans-serif, Arial, Helvetica, sans-serif;
    font-size:1.3em;
    font-weight:strong;
}

h4 {
    color:black;
}

h5 {
    color:black;
    font-family:'Gloria Hallelujah', sans-serif, Arial;
    font-size:large;
}


/* header and nav bar */
header {
    display: flex;
    height: 5em;
    justify-content: space-between;
    align-items: center;
    width:95%;
/*    border: 1px solid brown;*/
    background-color:eggshell;
}

                div.navbar {
                    display:flex;
                    flex-direction:row;
                    border: 1px #de5004;
                    height:100px;
                    justify-content:space-between;
                    width:55%;
                    margin-top:5%;
                    margin-left:5%;
                    margin-right:5%;
                    margin-top:5%;
                    align-items:flex-start;
                    line-height:1.5em;
                    font-family:'Gloria Hallelujah', Arial, Helvetica, sans-serif;
                   
                    
                  }
                  
                  
                  div.nav {
                  background-color:eggshell;
                    margin-bottom:10px;
                    font-size:1.3em;
                    font-family:'Saira', sans-serif, Arial, Helvetica, sans-serif;
                    color:#de5004;
                    height:10%;
                    
                  }

img#logoname {
    position:fixed;
    right:9px;
    top:10px;
    opacity: 0.7;}

/* flexbox */



div.footer {
    display:flex;
    flex-direction:row;
    text-align: center;
    bottom:15px;
}


