@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Staatliches&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {

    background-image: url('https://rhynep.github.io/id/images/bg_light.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    color:white;
    background-color:black;
    font-size:1.3em;
    font-family:'Special Elite', Arial, Helvetica, sans-serif;
    margin-left:77px;
    margin-right:77px;
  
     }

 /* use media query to ask how big the viewport is */
@media (max-width: 750px) { /* these rules take effect when the viewport is small */
    body{
    margin-left: 0px;
    margin-right: 0px;
    }
}
      


/* links */
a:link{
    color:white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

a:hover{
    color:#de5004;
    text-decoration: line-through;
}

a:active{
    color:#e9d62a;
    text-decoration: none;
}



/* headings */
h1 {
    color:white;
    font-family:'Special Elite', 'Arial Narrow Bold', sans-serif;
    font-size:1em;
    text-align: center;
    margin-left:33%;
    margin-bottom:0.5em; 
}

h2 {
    color:white;
    font-family:'Special Elite', 'Arial Narrow Bold', sans-serif;
    font-size:1em;
    margin-bottom:0.5em;
}

h3 {
    color:white;
    font-family:'Special Elite', sans-serif, Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:strong;
    margin-bottom:0.5em;
}

h4 {
    color:white;
    font-family:'Saira', sans-serif, Arial, Helvetica, sans-serif;
    margin-bottom:0.5em;
}

h5 {
    color:white;
    font-family:'Saira', sans-serif, Arial;
    font-size:large;   
    margin-bottom:0.5em;
}


/* nav bar */         
div.nav {
    display:flex;
    flex-direction: column;
    position:fixed;
    padding-top:155px;
    margin-bottom:1px;
    font-size:1.3em;
    font-family:'Special Elite', 'Saira', Arial, Helvetica, sans-serif;
    color:black;
    font-size:2em;
    height:10%;
    text-align: left;
    justify-content: space-between;
    margin-top:5%;
    margin-left:1%;
    margin-right:5%;
    margin-top:5%;
    line-height:0.5em;    
}


/* nav labels */
a#about {
    color: #de5004;
    text-decoration: line-through;
}
a#videos {
    color: #de5004;
    text-decoration: line-through;
}
a#music {
    color: #de5004;
    text-decoration: line-through;
}
a#photos {
    color: #de5004;
    text-decoration: line-through;
}
a#connect {
    color: #de5004;
    text-decoration: line-through;
}
a#events {
    color: #de5004;
    text-decoration: line-through;
}
a#store {
    color: #de5004;
    text-decoration: line-through;
}


/* object identifiers */

/* band name */
img#logoname {
    position:fixed;
    left:11px;
    top:11px;
    opacity: 92%;
   }

/* band logo */
    img#logosymbol {
    position:fixed;
    right:11px;
    top:11px;
} 

/* footer */
#footer {
    display:flex;
    flex-direction: row;
    float:center;
    position:fixed;
    left:44%;
    bottom: 3px;
    text-align: center;
    align-content: center;   
    opacity: 33%;
} 

/* about */
img#yellowbackground {
    float:right;
    margin:.5em .5em .5em .5em;
}


/* other flexbox */
div.maintext {
    display:flex;
    flex-direction:row;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: center;

}

/* music */
div.music {
    display:flex;
    flex-direction:row;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
}

/* about */
div.bandbio {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    font-family:'PT Sans Narrow', 'Arial Narrow Bold', sans-serif;
    margin-bottom:0.5px;
}

/* videos */
div.endlessvideo {
    display:flex;
    flex-direction: row;
    align-content:center;
    margin-left:33%;
}

div.carelessvideo {
    display:flex;
    flex-direction: row;
    align-content: center;
    margin-left:33%;
}
