@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Staatliches&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {

  /*  background-image: url('https://rhynep.github.io/id/images/bg_light.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */

    color:white;
    background-color:black;
    font-size:1.3em;
    font-family:'PT Sans Narrow', Arial, Helvetica, sans-serif;
    margin-left:7px;
    margin-right:7px;
  
     }

/* *********** *//* MEDIA QUERY *//* *********** */
/* use media query to ask how big the viewport is */
@media (max-width: 999px) { /* these rules take effect when the viewport is small */
    body{
    margin-left: 0px;
    margin-right: 0px;
         /* desktop view band image*/
    }
         img#theband {
            visibility: hidden;
        }
        img#facesmain {
            visibility: hidden;
        }
}
@media (min-width: 350px) { /* larger viewport rules*/
    body {
    margin-right:5px;
    margin-left:5px; 
    }


@media screen and (orientation: portrait) { /* portrait/landscape rules */
        body {
            font-weight: bold;
            color:magenta;
        }
        div.nav {
            display:flex;
            flex-direction: column;
            position:fixed;
            margin-top:11%;
            margin-bottom:1px;
            height:111px;
            margin-left:3%;
            font-size:0.8em;
            font-family:'Special Elite', 'Saira', Arial, Helvetica, sans-serif;
            color:#e9d62a;
            text-align: left;
            justify-content: space-between;
            line-height:0.7em;    
        }
        
    }      

   
/* *********** *//* LINKS *//* *********** */
a:link{
    color:grey;
    text-decoration: none;
}

a:visited{
    color:grey;
    text-decoration: none;
}

a:hover{
    color:#de5004;
    text-decoration: line-through;
}

a:active{
    color:#e9d62a;
    text-decoration: none;
}



/* *********** *//* HEADINGS *//* *********** */
h1 {
    color:white;
    font-family:'Special Elite', 'Arial Narrow Bold', sans-serif;
    font-size:1em;
    padding-left:155px;
}

h2 {
    color:white;
    font-family:'PT Sans Narrow', 'Arial Narrow Bold', sans-serif;
    font-size:1.3em;
    margin-bottom:0.3em;
    margin-top:0.3em;
    margin-left:155px;
}

h3 {
    color:white;
    font-family:'Special Elite', sans-serif, Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:strong;
    margin-bottom:0.3em;
    margin-top:0.3em;
    margin-left: 155px;
}

h4 {
    color:white;
    font-family:'Saira', sans-serif, Arial, Helvetica, sans-serif;
    margin-bottom:0.5em;
}

h5 {
    color:white;
    font-family:'Saira', sans-serif, Arial;
    font-size:large;   
    margin-bottom:0.5em;
}


/* *********** *//* NAV BAR *//* *********** */        
div.nav {
    display:flex;
    flex-direction: column;
    position:absolute;
    padding-top:155px;
    padding-right:3px;
    margin-bottom:1px;
    top:22px;
    margin-left:3%;
    font-size:1em;
    font-family:'Special Elite', 'Saira', Arial, Helvetica, sans-serif;
    color:#e9d62a;
    text-align: left;
    justify-content: space-between;
    line-height:0.7em;    
}


/* nav labels */
a#about {
    color: #de5004;
    text-decoration: line-through;
}
a#videos {
    color: #de5004;
    text-decoration: line-through;
}
a#music {
    color: #de5004;
    text-decoration: line-through;
}
a#photos {
    color: #de5004;
    text-decoration: line-through;
}
a#connect {
    color: #de5004;
    text-decoration: line-through;
}
a#events {
    color: #de5004;
    text-decoration: line-through;
}
a#store {
    color: #de5004;
    text-decoration: line-through;
}


/* *********** *//* MAIN LAYOUT IMAGES *//* *********** */

/* object identifiers */

        /* band name */
img#logoname {
    position:absolute;
    left:11px;
    top:11px;
    opacity: 92%;
    width:211px;
   }
        /* band symbol */
   img#idsymbol {
    position:absolute;
    align-content:center;
    right:5px;
    width:177px;
    opacity: 44%;
   }

        /* desktop view band image*/
    img#theband {
        position: fixed;
        right:11px;
        bottom:44px;
        height:444px;
        opacity:88%;
} 
        /* desktop view band image*/
        img#facesmain {
            position:fixed;
            right:11px;
            bottom:44px;
            height:444px;
            opacity:88%;           
 }
        /* footer */
#footer {
    display:flex;
    flex-direction: row;
    float:right;
    position:fixed;
    right:3%;
    bottom: 3px;
    text-align: center;
    align-content: center;   
    opacity: 33%;
    padding-top:7px;
} 
/* *********** *//* IMAGES BY PAGE *//* *********** */
/* main */
/* music */ 
/* videos */    

/* about */
img#aboutbandimage {
    position: fixed;
    align-content: center;
    padding-top:111px;
    padding-left:155px;
    right:22%;
}


/* photos */
    /* in javascript*/

/* connect */
/* events */
/* store */


/* etc images */
img#yellowbackground {
    float:right;
    top:55px;
    right:100px;
    transform: rotate(11deg) scale(0.9);
}



/* *********** *//* DIV: OTHER FLEXBOX BY PAGE *//* *********** */

/* main */
div.maintext {
    display:flex;
    flex-direction:row;
    position: fixed;
    right:2%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: right;
}

/* music */
div.musictext {
    display:flex;
    flex-direction: column;
    position: fixed;
    right:5%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: left;
    margin-bottom:0.5px;
}
                        /*********** list of songs ***********/
audio#song1 {
    display:flex;
    flex-direction: row;
    align-items:left;
    padding-left:144px;
}
    h3#thebandname {
        display:flex;
        padding-left:88px;
        background-color: grey;
        padding-top:5px;
        color:black;
        padding-left:11px;
        font-size:0.9em;
}

            img#songimage1 {
               display:flex;
               padding-top:155px;
               padding-left:155px;
               top:11px;

            }
            
            h2#songtitle1 {
                display:flex;
                padding-left:11px;
                color:white;
                font-size:1em;
            }

    
audio#song2 {
    display:flex;
    flex-direction: row;
    align-items:left;
    padding-left:144px;

            }
            img#songimage2 {
            display:flex;
            padding-left:155px;
            top:99px;

            }
            h2#songtitle2 {
                display:flex;
                padding-left:11px;
                color:white;
                font-size:1em;
            }

audio#song3 {
    display:flex;
    flex-direction: row;
    align-items:left;
    padding-left:144px;
    
 
            }

            img#songimage3 {
                display:flex;
                padding-left:155px;
                padding-bottom:1%;
                top:444px;
                right:33px;
                align-items:right;
            }

            h2#songtitle3 {
                display:flex;
                padding-left:11px;
                color:white;
                font-size:1em;
            }


/* videos */
div.videostext {
    display:flex;
    flex-direction: column;
    position: fixed;
    right:5%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: right;
    margin-bottom:0.5px;
}
                        /*********** list of videos ***********/
            div.endlessvideo {
                display:flex;
                align-content: center;
                padding-left:155px;
                padding-top:144px;
                margin-bottom:0.5px;
            }

            div.carelessvideo {
                display:flex;
                align-content: center;
                padding-left:155px;
                padding-top:33px;
                margin-bottom:0.5px;
            }

/* about */
div.bandbio {
    display:flex;
    flex-direction: column;
    right:5%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: right;
    margin-bottom:0.5px;
}

div.aboutimage {
    display:flex;
    flex-direction: column;
    position:absolute;
    padding-top:px;
    padding-left:155px;
    right:2%;
    font-family:'Saira', 88, Helvetica, sans-serif;
    font-size:1em; 
    text-align: right;
    margin-bottom:0.5px;
}

/* photos */
div.photostext {
    display:flex;
    position: fixed;
    right:5%;
    flex-direction: column;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: right;
    margin-bottom:0.5px;
}

/* connect */
div.connecttext1 {
    display:flex;
    flex-direction: column;
    position: absolute;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: left;
    margin-bottom:0.5px;
    padding-top: 144px;
}

        h2#socialmedia {
            display:flex;
            background-color: grey;
            color:black;
            padding-left:11px;
            font-size:0.9em;
            line-height: 1.5em;
        
    }
            
                h3#sminsta {
                    display:flex;
                    padding-left:11px;
                    color:white;
                    font-size:1em;
                    padding-top:1px;
                }
            
                h3#smyoutube {
                    display:flex;
                    padding-left:11px;
                    color:white;
                    font-size:1em;
                    padding-top:1px;
                }
 
                h3#smtwitter {
                    display:flex;
                    padding-left:11px;
                    color:white;
                    font-size:1em;
                    padding-top:1px;
                }
                
  
                h3#smfacebook {
                    display:flex;
                    padding-left:11px;
                    color:white;
                    font-size:1em;
                    padding-top:1px;
                }
            
                h3#smbandcamp {
                    display:flex;
                    padding-left:11px;
                    color:white;
                    font-size:1em;
                    padding-top:1px;
                }


/* events */
div.eventstext {
    display:flex;
    flex-direction: column;
    position: fixed;
    right:5%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: right;
    margin-bottom:0.5px;
}

/* store */
div.storetext {
    display:flex;
    flex-direction: column;
    position: fixed;
    right:5%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: right;
    margin-bottom:0.5px;
    padding-top:144px;
    padding-left:155px;
}
                            /* *********** *//* JAVASCRIPT CONNECTIONS *//* *********** */

/* store javascript */

div.teediv1 {
    display:none; 
    flex-direction: row;
    width:fit-content;
    align-content: center;
}
                img#tee1 {
                    display:flex;
                    flex-direction: row;
                    width:311px;
                    padding-top:133px;
                    padding-left:177px;
                    margin-top:1px;
                    margin-bottom:22px;
                }
                
                div.tee1info {
                    display:flex;
                    flex-direction: row;
                    position: absolute;
                    width:311px;
                    padding-left:33px;
                    margin-top:1px;
                    margin-bottom:22px;
                    }

div.teediv2 {
    display:none; 
    flex-direction: row;
    width:fit-content;
    align-content: center;
}
                img#tee2 {
                    display:flex;
                    flex-direction: row;
                    width:311px;
                    padding-top:133px;
                    padding-left:177px;
                    margin-top:1px;
                    margin-bottom:22px;
                }
                
                div.tee2info {
                    display:flex;
                    flex-direction: row;
                    position: absolute;
                    width:311px;
                    padding-left:33px;
                    margin-top:1px;
                    margin-bottom:22px;
                    }

div.teediv3 {
    display:none; 
    flex-direction: row;
    width:fit-content;
    align-content: center;
}
                img#tee3 {
                    display:flex;
                    flex-direction: row;
                    width:311px;
                    padding-top:133px;
                    padding-left:177px;
                    margin-top:1px;
                    margin-bottom:22px;
                }
                
                div.tee3info {
                    display:flex;
                    flex-direction: row;
                    position: absolute;
                    width:311px;
                    padding-left:133px;
                    margin-top:1px;
                    margin-bottom:22px;
                    }

div.teediv4 {
    display:none; 
    flex-direction: row;
    width:fit-content;
    align-content: center;
}
                img#tee4 {
                    display:flex;
                    flex-direction: row;
                    width:311px;
                    padding-top:133px;
                    padding-left:177px;
                    margin-top:1px;
                    margin-bottom:22px;
                }
                
                div.tee4info {
                    display:flex;
                    flex-direction: row;
                    position: absolute;
                    width:311px;
                    padding-left:133px;
                    margin-top:1px;
                    margin-bottom:22px;
                    }

/* photos */
        /*********** square photos with js ***********/

div.squarediv1 {
    display:none; 
    width:fit-content;
    align-content: center;
}

        img#square1 {
            display:flex;
            flex-direction: row;
            width:311px;
            padding-top:133px;
            padding-left:155px;
            margin-top:1px;
            margin-bottom:22px;
        }

div.squarediv2 {
    display:none; 
    width:fit-content;
    align-content: center;
}

        img#square2 {
            display:flex;
            flex-direction: row;
            width:311px;
            align-content: right;
            padding-top:111px;
            padding-left:155px;
            margin-top:1px;
            margin-bottom:22px;
        }

div.squarediv3 {
    display:none; 
    width:fit-content;
    align-content: center;
}

        img#square3 {
            display:flex;
            flex-direction: row;
            width:311px;
            align-content: right;
            padding-top:111px;
            padding-left:155px;
            margin-top:1px;
            margin-bottom:22px;
        }

div.squarediv4 {
    display:none; 
    width:fit-content;
    align-content: center;
}

        img#square4 {
            display:flex;
            flex-direction: row;
            width:311px;
            align-content: right;
            padding-top:111px;
            padding-left:155px;
            margin-top:1px;
            margin-bottom:1px;
        }

div.squarediv5 {
    display:none; 
    width:fit-content;
    align-content: center;
}

        img#square5 {
            display:flex;
            flex-direction: row;
            width:311px;
            align-content: right;
            padding-top:111px;
            padding-left:155px;
            margin-top:1px;
            margin-bottom:1px;
        }

div.squarediv6 {
    display:none; 
    width:fit-content;
    align-content: center;
}

        img#square6 {
            display:flex;
            flex-direction: row;
            width:311px;
            align-content: right;
            padding-top:111px;
            padding-left:155px;
            margin-top:1px;
            margin-bottom:1px;
        }

div.squarediv7 {
    display:none; 
    width:fit-content;
    align-content: center;
}

        img#square7 {
            display:flex;
            flex-direction: row;
            width:311px;
            align-content: right;
            padding-top:111px;
            padding-left:155px;
            margin-top:1px;
            margin-bottom:1px;
        }

div.squarediv8 {
    display:none; 
    width:fit-content;
    align-content: center;
}

        img#square8 {
            display:flex;
            flex-direction: row;
            width:311px;
            align-content: right;
            padding-top:111px;
            padding-left:155px;
            margin-top:1px;
            margin-bottom:1px;
        }

div.squarediv {
    display:none; 
    width:fit-content;
    align-content: center;
    }
            
        img#square {
            display:flex;
            flex-direction: row;
            width:311px;
            padding-top:111px;
            padding-left:155px;
            margin-top:1px;
            margin-bottom:22px;
            }

 /* *********** *//* SUBLIMINAL WITH JS */ /* *********** */
 
 /* about */
    /*********** symbol flashes ***********/
div.flashes1 {
    visibility:hidden;
    position:fixed;
    color:black;
    margin-left:5%;
    margin-top:77%;
    transition-property:visibility;
    transition-duration: 1s;
}

div.flashes2 {
    position:fixed;
    color:black;
    margin-left:7%;
    margin-top:22%
   
}


}

/* falling flower images */
img#flower1 {
    position:fixed;
    top:22px;
    right:22px;
    bottom:11px;
    padding-top:22px;
    margin-bottom:5px;
    opacity: 0.7;
    transform: rotate(111deg);
}

img#flower2 {
    position:absolute;
    bottom:33px;
    left:11px;
    bottom:11px;
    padding-bottom:1%;
    margin-bottom:5px;
    transform: rotate(77deg) scale(0.9);
}

img#flower3 {
    position:absolute;
    bottom:477px;
    right:377px;
    bottom:44px;
    padding-bottom:1%;
    margin-bottom:5px;
    opacity: 0.9;
    transform: rotate(88deg) scale(0.9);
}

img#flower4 {
    position:absolute;
    bottom:333px;
    right:33px;
    bottom:11px;
    padding-bottom:1%;
    margin-bottom:5px;
    opacity: 0.7;
    transform: rotate(77deg) scale(0.9);
}

img#flower5 {
    position:absolute;
    bottom:77px;
    right:77px;
    bottom:11px;
    padding-bottom:1%;
    margin-bottom:5px;
    opacity: 0.7;
    transform: rotate(77deg) scale(0.9);
}


img#flower6 {
    position:absolute;
    bottom:33px;
    left:11px;
    bottom:111px;
    padding-bottom:1%;
    margin-bottom:5px;
    opacity: 0.7;
    transform: rotate(177deg) scale(0.9);
}

img#flower7 {
    position:fixed;
    top:422px;
    right:144px;
    bottom:11px;
    padding-top:22px;
    margin-bottom:5px;
    opacity: 0.7;
    transform: rotate(111deg);
}