@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Staatliches&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {

  /*  background-image: url('https://rhynep.github.io/id/images/bg_light.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */

    color:white;
    background-color:black;
    font-size:1.3em;
    font-family:'Special Elite', Arial, Helvetica, sans-serif;
    margin-left:77px;
    margin-right:77px;
  
     }


 /* use media query to ask how big the viewport is */
@media (max-width: 750px) { /* these rules take effect when the viewport is small */
    body{
    margin-left: 0px;
    margin-right: 0px;
    }
}
      


/* links */
a:link{
    color:grey;
    text-decoration: none;
}

a:visited{
    color:grey;
    text-decoration: none;
}

a:hover{
    color:#de5004;
    text-decoration: line-through;
}

a:active{
    color:#e9d62a;
    text-decoration: none;
}



/* headings */
h1 {
    color:white;
    font-family:'Special Elite', 'Arial Narrow Bold', sans-serif;
    font-size:1em;
    text-align: center;
    margin-left:33%;
    margin-bottom:0.5em; 
}

h2 {
    color:white;
    font-family:'PT Sans Narrow', 'Arial Narrow Bold', sans-serif;
    font-size:1.3em;
    margin-bottom:0.5em;
    margin-left:33%;
}

h3 {
    color:white;
    font-family:'Special Elite', sans-serif, Arial, Helvetica, sans-serif;
    font-size:1em;
    font-weight:strong;
    margin-bottom:0.5em;
}

h4 {
    color:white;
    font-family:'Saira', sans-serif, Arial, Helvetica, sans-serif;
    margin-bottom:0.5em;
}

h5 {
    color:white;
    font-family:'Saira', sans-serif, Arial;
    font-size:large;   
    margin-bottom:0.5em;
}


/* nav bar */         
div.nav {
    display:flex;
    flex-direction: column;
    position:fixed;
    padding-top:144px;
    margin-bottom:1px;
    font-size:1.4em;
    font-family:'Special Elite', 'Saira', Arial, Helvetica, sans-serif;
    color:black;
    height:10%;
    text-align: left;
    justify-content: space-between;
    margin-top:3%;
   
  
    line-height:0.8em;    
}


/* nav labels */
a#about {
    color: #de5004;
    text-decoration: line-through;
}
a#videos {
    color: #de5004;
    text-decoration: line-through;
}
a#music {
    color: #de5004;
    text-decoration: line-through;
}
a#photos {
    color: #de5004;
    text-decoration: line-through;
}
a#connect {
    color: #de5004;
    text-decoration: line-through;
}
a#events {
    color: #de5004;
    text-decoration: line-through;
}
a#store {
    color: #de5004;
    text-decoration: line-through;
}


/* object identifiers */


        /* band name */
img#logoname {
    position:fixed;
    left:11px;
    top:11px;
    opacity: 92%;
   }

        /* band logo */
    img#logosymbol {
    position:fixed;
    right:11px;
    top:11px;
} 

        /* footer */
#footer {
    display:flex;
    flex-direction: row;
    float:center;
    position:fixed;
    left:44%;
    bottom: 3px;
    text-align: center;
    align-content: center;   
    opacity: 33%;
} 

/* main */
/* music */ 
/* videos */

/* about */
img#aboutbandimage {
    position: absolute;
    right:22px;
    top:22px;
    opacity: 0.7;
}

img#idwhite {
    position:fixed;
    left:33%;
    top:22px;
}
/* photos */
/* connect */
/* events */
/* store */


/* etc images */
img#yellowbackground {
    float:right;
    top:55px;
    right:100px;
    transform: rotate(11deg) scale(0.9);
    
}


/* other flexbox */

/* main */
div.maintext {
    display:flex;
    flex-direction:row;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: center;

}


/* music */
div.music {
    display:flex;
    flex-direction:row;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
}

/* videos */
div.endlessvideo {
    display:flex;
    flex-direction: row;
    align-content:center;
    margin-left:33%;
}

div.carelessvideo {
    display:flex;
    flex-direction: row;
    align-content: center;
    margin-left:33%;
}

/* about */
div.bandbio {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    font-family:'PT Sans Narrow', 'Arial Narrow Bold', sans-serif;
    margin-bottom:0.5px;
}

/* photos */
div.photostext {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    font-family:'PT Sans Narrow', 'Arial Narrow Bold', sans-serif;
    margin-bottom:0.5px;
}

/* connect */
div.connecttext {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    font-family:'PT Sans Narrow', 'Arial Narrow Bold', sans-serif;
    margin-bottom:0.5px;
}
/* events */
div.eventstext {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    font-family:'PT Sans Narrow', 'Arial Narrow Bold', sans-serif;
    margin-bottom:0.5px;
}
/* store */
div.storetext {
    display:flex;
    flex-direction: column;
    margin-left:22%;
    font-family:'Saira', Arial, Helvetica, sans-serif;
    font-size:1em; 
    text-align: justify;
    font-family:'PT Sans Narrow', 'Arial Narrow Bold', sans-serif;
    margin-bottom:0.5px;
}


/* subliminal symbol flashes */
div.flashes1 {
    position:float;
    color:red;
    margin-left:1%;
    margin-top:33%%;
}

div.flashes2 {
    position:fixed;
    color:black;
    margin-left:7%;
    margin-top:44%
   
}

div.flashes3 {
    position:absolute;
    color:black;
    margin-left:1%;
    margin-top:33%;
}

